


.titre
{
    font-family: "shrikhand", cursive;
    margin-top: 2%;
    font-size: 200%;
    text-align: center;
    color: #BBAE90;
}

.titre4
{
    font-family: "shrikhand", cursive;
    margin-top: 2%;
    font-size: 150%;
    text-align: center;
    color: #BBAE90;
}

.titre5
{
    font-family: "dosis",sans-serif;
    font-weight: lighter;
    margin-top: 1%;
    font-size: 150%;
    text-align: center;
    color: #BBAE90;
}

.fieldInput
{
    margin-top: 2%;
    font-family: "dosis",sans-serif;
    font-weight: lighter;
    font-size: 130%;
    line-height: 90%;
    text-align:center;
}

.fieldInput1
{

    font-family: "dosis",sans-serif;
    font-weight: lighter;
    font-size: 150%;
    margin:5%;
    text-align:center;
}


.in
{

    color:white;
    height: 200%;
    border-style: none;
    border-bottom: solid white 2px;
    background-color: transparent;
}

.inscription
{
    color: #FFFFFF;
    text-decoration: underline;
    font-family: "dosis",sans-serif;
    font-weight: lighter;
    text-align:center;

}

.formLogin{
    text-align: center;
    font-family: "dosis",sans-serif;
    font-weight: lighter;
}

.formSignup{
    text-align: center;
    font-family: "dosis",sans-serif;
    font-weight: lighter;
}

#lien{
    font-family: "dosis",sans-serif;
    font-weight: lighter;

}

button{
    font-family: "dosis", sans-serif;
    display: inline-block;
    position: relative;
    color: #BBAE90;
    background: #443F3F;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    margin: 20px;
    border: 2px solid #BBAE90;
    border-radius: 21px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
button:before {

    content: "";
    position: absolute;
    background: #BBAE90;
    height: 300px;
    width: 700px;
    border-radius: 27%;
    z-index: -1;
}
button:hover {
    color: #443F3F;
}
button:before {
    top: 600%;
    left: 1800%;
    transition: 0.6s;
}
button:hover:before {
    top: -30px;
    left: -30px;
}
button:active:before {
    background: #BBAE90;
    transition: 0s;
}

hr {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #FFFFFF;
    overflow: visible;
    text-align: center;
    height: 1px;

    margin-top: 5%;

    margin-left: 2%;
    margin-right: 2%;
}

hr:after {
    margin: 0;

    color: white;
    font-family: "dosis", sans-serif;
    font-size: 300%;
    background:#443F3F;
    content: 'Choisissez votre sport';
    padding: 0 30px 0 30px;
    position: relative;
    top: -40px;

}

